version: '3.9'

services:

  static_hosting:
    image: nginx
    volumes:
      - ./frontend/dist:/usr/share/nginx/html:ro
      - ./settings/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"

  backend:
    image: couchdb:3
    ports:
      - "5984:5984"
    environment:
      - COUCHDB_USER
      - COUCHDB_PASSWORD
    healthcheck:
      test: curl -f http://localhost:5984/_up || exit 1
      start_period: 10s
      start_interval: 2s

  accessible_backend:
    image: curlimages/curl
    entrypoint: ["/bin/sh","-c"]
    command:
      - |
        alias put="curl -X PUT -u '${COUCHDB_USER}:${COUCHDB_PASSWORD}'"
        put backend:5984/_node/nonode@nohost/_config/chttpd/enable_cors --data '"true"'
        put backend:5984/_node/nonode@nohost/_config/cors/origins --data '"*"'
        put backend:5984/refood_db
        put backend:5984/refood_db/_security --data '{"members":{"roles":[]},"admins":{"roles":["_admin"]}}'
    depends_on:
      backend:
        condition: service_healthy

  index:
    image: curlimages/curl
    entrypoint: ["/bin/sh","-c"]
    volumes:
      - ./backend/by_date.json:/by_date.json
      - ./backend/by_type_and_date.json:/by_type_and_date.json
    command:
      - |
        curl -X POST http://backend:5984/refood_db/_index -H "Content-Type: application/json" -d @/by_date.json -u '${COUCHDB_USER}:${COUCHDB_PASSWORD}'
        curl -X POST http://backend:5984/refood_db/_index -H "Content-Type: application/json" -d @/by_type_and_date.json -u '${COUCHDB_USER}:${COUCHDB_PASSWORD}'
    depends_on:
      accessible_backend:
        condition: service_completed_successfully